.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.title-div {
  width: 50%;
  text-align: right;
}

.title {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.auth-links {
  width: 50%;
  text-align: right;
}

.auth-links a {
  color: white;
  text-decoration: none;
  margin-left: 0.5rem;
}

.auth-links a:hover {
  text-decoration: underline;
}
