.header {
  display: flex;
  align-items: center;
  width: auto;
  height: 8vh;
  padding: 1rem 2rem;
  background-color: #3f3f3f;
}

.title {
  margin: auto;
  color: white;
  font-size: 3rem;
}