.main-container {
  background-color: #c9c9c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.login-container {
  background-color: #d9d9d9;
  height: 20vh;
  width: 20vw;
  display: flex;
  margin: auto;
}

.login {
  width: 15vw;
  margin: auto;
}
